
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Campeonatos</title>
</head>
<body>
    <div>
        <h1>
            Lista de Campeonatos Amateur en la que Participaron Los Tigres del Licey
        </h1>
        <ul>
            <li>Año 1922</li>
            <li>Año 1924 * Ganadores</li>
            <li>Año 1929 * Ganadores</li>
            <li>Año 1936</li>
            <li>Año 1937</li>
        </ul>
        <b><br />Para un total de <u>2</u> Campeonatos Ganados de 5 Jugados</b><br />
        <h1>
            Lista de Campeonatos Profesionales Ganados por Los Tigres del Licey
        </h1>
        <ul>
            <li>Año 1951 * Ganadores</li>
            <li>Año 1952</li>
            <li>Año 1953 * Ganadores</li>
            <li>Año 1954</li>
            <li>Temporada 1955/1956</li>
            <li>Temporada 1956/1957</li>
            <li>Temporada 1958/1959 * Ganadores</li>
            <li>Temporada 1959/1960</li>
            <li>Temporada 1960/1961</li>
            <li>Temporada 1963/1964 * Ganadores</li>
            <li>Temporada 1964/1965</li>
            <li>Temporada 1966/1967</li>
            <li>Temporada 1968/1969</li>
            <li>Temporada 1969/1970 * Ganadores</li>
            <li>Temporada 1970/1971 * Ganadores</li>
            <li>Temporada 1971/1972</li>
            <li>Temporada 1972/1973 * Ganadores</li>
            <li>Temporada 1973/1974 * Ganadores</li>
            <li>Temporada 1974/1975</li>
            <li>Temporada 1976/1977 * Ganadores</li>
            <li>Temporada 1977/1978</li>
            <li>Temporada 1978/1979</li>
            <li>Temporada 1979/1980 * Ganadores</li>
            <li>Temporada 1980/1981</li>
            <li>Temporada 1981/1982</li>
            <li>Temporada 1982/1983 * Ganadores</li>
            <li>Temporada 1983/1984 * Ganadores</li>
            <li>Temporada 1984/1985 * Ganadores</li>
            <li>Temporada 1985/1986</li>
            <li>Temporada 1986/1987</li>
            <li>Temporada 1987/1988</li>
            <li>Temporada 1988/1989</li>
            <li>Temporada 1989/1990</li>
            <li>Temporada 1990/1991 * Ganadores</li>
            <li>Temporada 1991/1992</li>
            <li>Temporada 1992/1993</li>
            <li>Temporada 1993/1994 * Ganadores</li>
            <li>Temporada 1994/1995</li>
            <li>Temporada 1995/1996</li>
            <li>Temporada 1996/1997</li>
            <li>Temporada 1997/1998</li>
            <li>Temporada 1998/1999 * Ganadores</li>
            <li>Temporada 1999/2000</li>
            <li>Temporada 2000/2001</li>
            <li>Temporada 2001/2002 * Ganadores</li>
            <li>Temporada 2002/2003</li>
            <li>Temporada 2003/2004 * Ganadores</li>
            <li>Temporada 2004/2005</li>
            <li>Temporada 2005/2006 * Ganadores</li>
            <li>Temporada 2006/2007</li>
            <li>Temporada 2007/2008</li>
            <li>Temporada 2008/2009 * Ganadores</li>
            <li>Temporada 2009/2010</li>
            <li>Temporada 2010/2011</li>
            <li>Temporada 2011/2012</li>
            <li>Temporada 2012/2013</li>
            <li>Temporada 2013/2014 * Ganadores</li>
            <li>Temporada 2014/2015</li>
            <li>Temporada 2015/2016</li>
            <li>Temporada 2016/2017 * Ganadores</li>
            <li>Temporada 2017/2018</li>
        </ul>
        <b><br />Para un total de <u>22</u> Campeonatos Ganados de 61 Jugados.</b><br />
    </div>
</body>
</html>
