
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fundadores</title>
</head>
<body>
    <div>
        <h1>Miembros Fundadores del Club Atlético Licey(Tigres del Licey)</h1>
        <p>
            El equipo fue fundado como resultado de una reunión que tuvo lugar en la casa de Vicente María Vallejo, en la calle El Conde, en la Zona Colonial de Santo Domingo, el 7 de noviembre de 1907. Los miembros fundadores fueron los siguientes:
        </p>
        
        <ul>
            <h2>
                <li>George Pou</li>
                <li>Cuncún Pou</li>
                <li>Luis Fiallo</li>
                <li>Federico Fiallo</li>
                <li>Luis Vallejo</li>
                <li>Pinchán Vallejo</li>
                <li>Luis Castillo</li>
                <li>Salvador Piñeyro</li>
                <li>Álvaro Álvarez</li>
                <li>Tutú Martínez</li>
                <li>Ángel Mieses</li>
                <li>Chichi Mieses</li>
                <li>Arturo Perdomo</li>
                <li>Bi Sánchez</li>
                <li>Virgilio Abreu</li>
                <li>Alberto Peña</li>
                <li>Arturo Nolasco</li>
                <li>Tulio Piña</li>
            </h2>
        </ul>
        
    </div>
</body>
</html>
